body{
    background-image: url(./assets/images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;}

h1{
    text-align: center; color: #01217a; background-color: #ffcb90;
    font-size: xxx-large;
    border: 40px solid black; border-bottom: 0px; margin: 0px;}

h2{
    text-align: center; color: #ffcb90; background-color: #01217a;
    font-size: xxx-large;
    border: 40px solid black; border-top: 0px; 
    margin-top: 0px; margin-bottom: 50px;}

h3{
    text-align: center; background-color: black; color: white; 
    font-size: x-large; font-weight: bold;
    border: 2px solid black;}

ul{
    font-weight: bold; font-size: x-large;}

img{
    display: block;
    margin: auto;
    width: 40%}
    
.secondary{
    font-size: medium;}

.view{
    font-weight: bold; font-size: large;
    text-align: center;}

.data{
    border: 2px solid black;
    background-color: lightgray;
    padding: 30px;
    font-weight: bold; font-size: large;}

img{
    border: 10px solid black;}


